# Variables
- Variables acts as container space to store any data.
- It helps us to assign a memory location to a value which can be called whenever we want that value.
- Variables should always start with either letter or _.
- Numbers cannot br added at start.
- Special characters are not allowed in variables.
    - If your variables name contains more than single word, join those words with _.
    - Always give name which is meaningful.
    - Python is case sensitive.

In [5]:
a = 49849864
a

49849864

In [9]:
# 1b = 987981
b1 = 345684
b1

345684

In [10]:
$xyz = 876

SyntaxError: invalid syntax (4192317503.py, line 1)

In [13]:
integer = 100
continous = 45.2
string = 'Python'
logical = False

In [15]:
integer
continous

45.2

In [16]:
print(integer)
print(continous)
print(string)
print(logical)

100
45.2
Python
False

In [20]:
# first name = 'Ankush'  #Gives error
# first-name = 'Ankush'  
firstname = 'Ankush'
first_name = 'Ankush'

first_name,firstname

('Ankush', 'Ankush')

# Data Structures

- Data structures act as container/storage space to store multiple values in one variable.
- Python has 4 built in data structures.
    - They are as follows:
        - Lists
        - Tuple
        - Dictionary
        - Tuple

In [ ]:
#Lists
lst = [10,10.2,'Python class',False]
lst

In [ ]:
#Tuple

t = (14,12,'Python',True)
t

In [ ]:
#Dictionary 

dictionary = {'name':'Anit','age':52,'location':'Mumbai'}
dictionary

In [ ]:
#Sets

set1 = {10,20,133256.2,'Machine'}
set1

# Conditional Statements

- In programming, when we need to get output based on certain conditions, to specify those conditions, we make use of conditional statements.
- In python, there are 3 conditional statements are there:
    - if
    - elif
    - else

In [ ]:
#if

password = 1010

if password == 1010:
    print('Access given')

In [ ]:
#else

password = 1011

if password == 1010:
    print('Access given')

In [ ]:
password = 101110

if password == 1010:
    print('Access given')
else:
    print('Try again')

In [ ]:
#Elif

#age < 5 : ticket price $2
#age < 18 : ticket price $7
#age < 60 : ticket price $25
#age > 60 :ticket price $15

age = 2

if age < 5:
    print('$2')
elif age < 18:
    print('$7')
elif age < 60:
    print('$25')
else:
    print('$15')

# For loop

- Loops in python are used to do any similar task multiple times.

In [ ]:
lst = [1,2,5,6,9,7,4,5,6,55,4,7,8,9,154,4,454]

for i in lst:
    print(i)

In [ ]:
for i in lst:
    print(i**2)

In [ ]:
company = ['amazon','flipkart','excelr','myntra','samsung','apple']
company

In [ ]:
for i in company:
    print('www.'+i+'.com')

# Functions

- Python supports two types of function:
    - Built in
    - User defined

In [ ]:
def add():
    print(5+357684)
    
add()

In [ ]:
#With arguments

def add(num1,num2):
    print(num1+num2)

In [ ]:
add(85,65)

In [ ]:
#with format string

def info(name, age, location):
    print(f"Name of customer is {name}. Age of customer is {age}. Customer location is {location}")

In [ ]:
info('Anit',25,'Pune')