# Variables
- Variables acts as container space to store any data.
- It helps us to assign a memory location to a value which can be called whenever we want that value.
- Variables should always start with either letter or _.
- Numbers cannot br added at start.
- Special characters are not allowed in variables.
    - If your variables name contains more than single word, join those words with _.
    - Always give name which is meaningful.
    - Python is case sensitive.

In [ ]:
a = 49849864
a-2

In [ ]:
#1b = 987981    #Comment
b1 = 345684
b1

In [ ]:
$xyz = 876     #Special characters are not allowed.

In [ ]:
# first name = 'Ankush'
firstname = 'Ankush'
first_name = 'Nikita'

first_name,firstname

In [ ]:
integer = 100
continous = 45.2    #float
string = 'Python'   #text
boolean = False

In [ ]:
integer
continous
string

In [ ]:
print(integer)
print(continous)
print(string)
print(boolean)

In [ ]:
print(type(integer))
type(boolean)

# Data Structures

- Data structures act as container/storage space to store multiple values in one variable.
- Python has 4 built in data structures.
    - They are as follows:
        - Lists
        - Tuple
        - Dictionary
        - Sets

In [ ]:
#Lists
lst = [10,10.2,'Python class',False]
lst
type(lst)

In [ ]:
#Tuple

t = (14,12,'Python',True,10.2)
print(t)
type(t)

In [ ]:
#Dictionary 

dictionary = {'name':'Anit','age':52,'location':'Mumbai'}
print(dictionary)
type(dictionary)

In [ ]:
#Sets

set1 = {10,20,133256.2,'Machine'}
set1
type(set1)

In [ ]:
s = {10, True, 'Anit'}
print(s)
type(s)

# List functions

In [ ]:
lst = [10,12,1.3,'Python',False]
lst

In [ ]:
lst[3]

In [ ]:
lst[0]

In [ ]:
lst

In [ ]:
append(10)

In [ ]:
#Add
lst.append('Machine Learning')

In [ ]:
lst

In [ ]:
lst.append(41,45)

In [ ]:
lst.append(45)
lst

In [ ]:
lst.insert(2,'Deep learning')

In [ ]:
lst

In [ ]:
lst.extend([100,500,'Stats'])

In [ ]:
lst

In [ ]:
#Remove

In [ ]:
lst

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst.pop(0)

In [ ]:
lst

In [ ]:
lst.pop(2)
lst

In [ ]:
lst.remove(45)

In [ ]:
lst

In [ ]:
#Replace

In [ ]:
lst

In [ ]:
lst[1]

In [ ]:
lst[1] = 5000

In [ ]:
lst[5] = 1000
lst

In [ ]:
lst.index(500)

# Conditional Statements

- In programming, when we need to get output based on certain conditions, to specify those conditions, we make use of conditional statements.
- In python, there are 3 conditional statements are there:
    - if
    - elif
    - else

In [1]:
a = 1
b = 10

a < b

True

In [2]:
#if

saved_password = 1010
new_pass = 1010

if saved_password == new_pass:
    print('Logged in')

Logged in

In [3]:
saved_password = 1010
new_pass = 1012

if saved_password == new_pass:
    print('Access given')
else:
    print('Try again')

Try again

In [14]:
input()

 5

'5'

In [17]:
abc = input('Enter your age: ')

Enter your age:  65

In [18]:
abc

'65'

In [21]:
type(abc)

str

In [23]:
xyz = int(abc)

type(xyz)

int

In [20]:
'python'  <=   52

TypeError: '<=' not supported between instances of 'str' and 'int'

In [26]:
#Elif

#age < 5 : ticket price $2
#age < 18 : ticket price $7
#age < 60 : ticket price $25
#age > 60 :ticket price $15

age = int(input('Enter your age: '))

if age <= 5:
    print('$2')
elif age < 18:
    print('$7')
elif age <= 60:
    print('$25')
else:
    print('$15')

Enter your age:  45

$25

# For loop

- Loops in python are used to do any similar task multiple times.

In [29]:
#Get the list of values from 0 to 100

list(range(1,100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [31]:
print(154*154)
print(154**2)

23716
23716

In [32]:
lst = [1,2,5,6,9,7,4,5,6,55,4,7,8,9,154,4,454]

for i in lst:
    print(i)

1
2
5
6
9
7
4
5
6
55
4
7
8
9
154
4
454

In [33]:
for i in lst:
    print(i**2)

1
4
25
36
81
49
16
25
36
3025
16
49
64
81
23716
16
206116

In [34]:
for i in range(25,51):
    print(i**2)

625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [36]:
#Sting concatenation

word1 = 'Python'
word2 = 'Session'
word1+' '+word2

'Python Session'

In [37]:
company = ['amazon','flipkart','excelr','myntra','samsung','apple']
company

['amazon', 'flipkart', 'excelr', 'myntra', 'samsung', 'apple']

In [38]:
for i in company:
    print('www.'+i+'.com')

www.amazon.com
www.flipkart.com
www.excelr.com
www.myntra.com
www.samsung.com
www.apple.com

- Separetly store all even values in list called as even.
- store aall odd numbers in diff list called as odd.
- range 0,500

In [39]:
for i in range(0,501):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [40]:
even = []
odd = []
even ,odd

([], [])

In [44]:
48798797979797%2

1

In [45]:
for i in range(0,501):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [46]:
even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500]

In [47]:
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499]

# Functions

- Python supports two types of function:
    - Built in
    - User defined

In [ ]:
print(78)

In [ ]:
def greet():
    print('Hello User')

In [ ]:
greet()

In [ ]:
def add():
    print(5+357684)
    
add(10,5)

In [ ]:
#With arguments

def add(num1,num2):
    print(num1+num2)

In [ ]:
add(68984,354688)

# Format string

In [ ]:
name = 'Ankit'
age = 25
location = "pune"

- Print a sentence: Name of customer 'name'. He is 'age' yrs old. He lives in 'Location'

In [ ]:
print('Name of customer name. He is age yrs old. He live in location.')
print('Name of customer',name,'He is',age,'yrs old.','He lives in ',location)

In [ ]:
#format string

print(f"Name of customer is {name}.He is {age} yrs old. He lives in {location} ")