# Variables
- Variables acts as container space to store any data.
- It helps us to assign a memory location to a value which can be called whenever we want that value.
- Variables should always start with either letter or _.
- Numbers cannot br added at start.
- Special characters are not allowed in variables.
    - If your variables name contains more than single word, join those words with _.
    - Always give name which is meaningful.
    - Python is case sensitive.

In [ ]:
a = 49849864
a-2

In [ ]:
#1b = 987981    #Comment
b1 = 345684
b1

In [ ]:
$xyz = 876     #Special characters are not allowed.

In [ ]:
# first name = 'Ankush'
firstname = 'Ankush'
first_name = 'Nikita'

first_name,firstname

In [ ]:
integer = 100
continous = 45.2    #float
string = 'Python'   #text
boolean = False

In [ ]:
integer
continous
string

In [ ]:
print(integer)
print(continous)
print(string)
print(boolean)

In [ ]:
print(type(integer))
type(boolean)

# Data Structures

- Data structures act as container/storage space to store multiple values in one variable.
- Python has 4 built in data structures.
    - They are as follows:
        - Lists
        - Tuple
        - Dictionary
        - Sets

In [ ]:
#Lists
lst = [10,10.2,'Python class',False]
lst
type(lst)

In [ ]:
#Tuple

t = (14,12,'Python',True,10.2)
print(t)
type(t)

In [ ]:
#Dictionary 

dictionary = {'name':'Anit','age':52,'location':'Mumbai'}
print(dictionary)
type(dictionary)

In [ ]:
#Sets

set1 = {10,20,133256.2,'Machine'}
set1
type(set1)

In [ ]:
s = {10, True, 'Anit'}
print(s)
type(s)

# List functions

In [ ]:
lst = [10,12,1.3,'Python',False]
lst

In [ ]:
lst[3]

In [ ]:
lst[0]

In [ ]:
lst

In [ ]:
append(10)

In [ ]:
#Add
lst.append('Machine Learning')

In [ ]:
lst

In [ ]:
lst.append(41,45)

In [ ]:
lst.append(45)
lst

In [ ]:
lst.insert(2,'Deep learning')

In [ ]:
lst

In [ ]:
lst.extend([100,500,'Stats'])

In [ ]:
lst

In [ ]:
#Remove

In [ ]:
lst

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst.pop(0)

In [ ]:
lst

In [ ]:
lst.pop(2)
lst

In [ ]:
lst.remove(45)

In [ ]:
lst

In [ ]:
#Replace

In [ ]:
lst

In [ ]:
lst[1]

In [ ]:
lst[1] = 5000

In [ ]:
lst[5] = 1000
lst

In [ ]:
lst.index(500)

# Conditional Statements

- In programming, when we need to get output based on certain conditions, to specify those conditions, we make use of conditional statements.
- In python, there are 3 conditional statements are there:
    - if
    - elif
    - else

In [ ]:
a = 1
b = 10

a < b

In [59]:
#if

saved_password = 1010
new_pass = 1010

if saved_password == new_pass:
    print('Logged in')

Logged in

In [61]:
saved_password = 1010
new_pass = 1012

if saved_password == new_pass:
    print('Access given')
else:
    print('Try again')

Try again

In [ ]:
#Elif

#age < 5 : ticket price $2
#age < 18 : ticket price $7
#age < 60 : ticket price $25
#age > 60 :ticket price $15

age = int(input('Enter your age: '))

if age < 5:
    print('$2')
elif age < 18:
    print('$7')
elif age < 60:
    print('$25')
else:
    print('$15')

# For loop

- Loops in python are used to do any similar task multiple times.

In [ ]:
#Get the list of values from 0 to 100

In [ ]:
lst = [1,2,5,6,9,7,4,5,6,55,4,7,8,9,154,4,454]

for i in lst:
    print(i)

In [ ]:
for i in lst:
    print(i**2)

In [ ]:
#Sting concatenation

word1 = 'Python'
word2 = 'Session'
word1+' '+word2

In [ ]:
company = ['amazon','flipkart','excelr','myntra','samsung','apple']
company

In [ ]:
for i in company:
    print('www.'+i+'.com')

- Separetly store all even values in list called as even.
- store aall odd numbers in diff list called as odd.
- range 0,500

In [ ]:
range(0,501)

In [ ]:
for i in range(0,501):
    print(i)

In [ ]:
even = []
odd = []

for i in range(0,501):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [ ]:
even

In [ ]:
odd

# Functions

- Python supports two types of function:
    - Built in
    - User defined

In [ ]:
print(78)

In [ ]:
def greet():
    print('Hello User')

In [ ]:
greet()

In [ ]:
def add():
    print(5+357684)
    
add(10,5)

In [ ]:
#With arguments

def add(num1,num2):
    print(num1+num2)

In [ ]:
add(68984,354688)

# Format string

In [ ]:
name = 'Ankit'
age = 25
location = "pune"

- Print a sentence: Name of customer 'name'. He is 'age' yrs old. He lives in 'Location'

In [ ]:
print('Name of customer name. He is age yrs old. He live in location.')
print('Name of customer',name,'He is',age,'yrs old.','He lives in ',location)

In [ ]:
#format string

print(f"Name of customer is {name}.He is {age} yrs old. He lives in {location} ")