# EDA (Exploratory Data Analysis)

- Exploratory Data Analysis (EDA) is an approach to analyze the data using visual techniques and statistical techniques. It is used to discover trends, patterns, or to check assumptions with the help of statistical summary and graphical representations.

**Steps involved in EDA**
1. Describing the data
2. Data cleaning
3. Imputation techniques
4. Data analysis and visualization
5. Transformations

**Import data and data description**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pd.read_csv(r"C:\Users\excel\OneDrive\Desktop\Datasets\Churn_Modelling.csv")

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1
3,699,39,1,0.00,2,0,0,93826.63,0
4,850,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0
9996,516,35,10,57369.61,1,1,1,101699.77,0
9997,709,36,7,0.00,1,0,1,42085.58,1
9998,772,42,3,75075.31,2,1,0,92888.52,1
9999,792,28,4,130142.79,1,1,0,38190.78,0

In [5]:
pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Boston.csv')

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Machine-Learning/main/EDA-1/data_clean.csv', index_col=0)
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [7]:
df.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

In [8]:
df.describe(include=object)

       Month Weather
count    158     155
unique     6       3
top        9       S
freq      34      59

In [9]:
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [13]:
df['Wind'].median()

9.7

In [14]:
df['Weather'].value_counts()

S     59
C     49
PS    47
Name: Weather, dtype: int64

In [15]:
df['Month'].value_counts()

9      34
5      31
7      31
8      31
6      30
May     1
Name: Month, dtype: int64

In [16]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Month    158 non-null    object
 4   Day      158 non-null    int64
 5   Year     158 non-null    int64
 6   Temp     158 non-null    int64
 7   Weather  155 non-null    object
dtypes: float64(3), int64(3), object(2)
memory usage: 11.1+ KB

- As we can see that,
- 'Month' column has all the numeric data still python has shown us that it is object.
- We will have to find out the reason and change the data type of the column.

# **Data type conversion**

In [18]:
df['Month']

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: object

In [19]:
df['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [20]:
df['Month'].nunique()

6

In [21]:
df['Month'].value_counts()

9      34
5      31
7      31
8      31
6      30
May     1
Name: Month, dtype: int64

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df['Month'].replace('May','5')

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: object

In [24]:
df['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [25]:
df['Month'].replace('May','5', inplace=True)

In [26]:
df['Month'].unique()

array(['5', '6', '7', '8', '9'], dtype=object)

In [27]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [33]:
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [34]:
df['Location'] = 'Pune'

In [35]:
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather Location
1     41.0    190.0   7.4     5    1  2010    67       S     Pune
2     36.0    118.0   8.0     5    2  2010    72       C     Pune
3     12.0    149.0  12.6     5    3  2010    74      PS     Pune
4     18.0    313.0  11.5     5    4  2010    62       S     Pune
5      NaN      NaN  14.3     5    5  2010    56       S     Pune
..     ...      ...   ...   ...  ...   ...   ...     ...      ...
154   41.0    190.0   7.4     5    1  2010    67       C     Pune
155   30.0    193.0   6.9     9   26  2010    70      PS     Pune
156    NaN    145.0  13.2     9   27  2010    77       S     Pune
157   14.0    191.0  14.3     9   28  2010    75       S     Pune
158   18.0    131.0   8.0     9   29  2010    76       C     Pune

[158 rows x 9 columns]

In [37]:
df['Location'] = 'Mumbai'

In [38]:
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather Location
1     41.0    190.0   7.4     5    1  2010    67       S   Mumbai
2     36.0    118.0   8.0     5    2  2010    72       C   Mumbai
3     12.0    149.0  12.6     5    3  2010    74      PS   Mumbai
4     18.0    313.0  11.5     5    4  2010    62       S   Mumbai
5      NaN      NaN  14.3     5    5  2010    56       S   Mumbai
..     ...      ...   ...   ...  ...   ...   ...     ...      ...
154   41.0    190.0   7.4     5    1  2010    67       C   Mumbai
155   30.0    193.0   6.9     9   26  2010    70      PS   Mumbai
156    NaN    145.0  13.2     9   27  2010    77       S   Mumbai
157   14.0    191.0  14.3     9   28  2010    75       S   Mumbai
158   18.0    131.0   8.0     9   29  2010    76       C   Mumbai

[158 rows x 9 columns]

In [32]:
df['Month'].astype(int)

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: int32

In [30]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [42]:
df['Month'] = df['Month'].astype('int64')

In [43]:
df.dtypes

Ozone       float64
Solar.R     float64
Wind        float64
Month         int64
Day           int64
Year          int64
Temp          int64
Weather      object
Location     object
dtype: object

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ozone     120 non-null    float64
 1   Solar.R   151 non-null    float64
 2   Wind      158 non-null    float64
 3   Month     158 non-null    int32
 4   Day       158 non-null    int64
 5   Year      158 non-null    int64
 6   Temp      158 non-null    int64
 7   Weather   155 non-null    object
 8   Location  158 non-null    object
dtypes: float64(3), int32(1), int64(3), object(2)
memory usage: 11.7+ KB

# Duplicates

In [44]:
df

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather Location
1     41.0    190.0   7.4      5    1  2010    67       S   Mumbai
2     36.0    118.0   8.0      5    2  2010    72       C   Mumbai
3     12.0    149.0  12.6      5    3  2010    74      PS   Mumbai
4     18.0    313.0  11.5      5    4  2010    62       S   Mumbai
5      NaN      NaN  14.3      5    5  2010    56       S   Mumbai
..     ...      ...   ...    ...  ...   ...   ...     ...      ...
154   41.0    190.0   7.4      5    1  2010    67       C   Mumbai
155   30.0    193.0   6.9      9   26  2010    70      PS   Mumbai
156    NaN    145.0  13.2      9   27  2010    77       S   Mumbai
157   14.0    191.0  14.3      9   28  2010    75       S   Mumbai
158   18.0    131.0   8.0      9   29  2010    76       C   Mumbai

[158 rows x 9 columns]

In [45]:
0 == False

True

In [46]:
1 == True

True

In [47]:
df['Wind']

1       7.4
2       8.0
3      12.6
4      11.5
5      14.3
       ...
154     7.4
155     6.9
156    13.2
157    14.3
158     8.0
Name: Wind, Length: 158, dtype: float64

In [48]:
df['Wind'].sum()

1573.3000000000002

In [49]:
df.duplicated()

1      False
2      False
3      False
4      False
5      False
       ...
154    False
155    False
156    False
157     True
158    False
Length: 158, dtype: bool

In [50]:
df.duplicated().sum()

1

In [51]:
df.shape

(158, 9)

In [ ]:
#Drop Duplicated records

In [53]:
df.drop_duplicates(inplace=True)

In [55]:
df.shape

(157, 9)

In [56]:
df.duplicated().sum()

0

# Drop columns

- There is one column which only has single different value.
- We need to get rid of all the uneccesary columns or else it will be very complex data.

In [ ]:
df.head()

In [ ]:
df['Year'].var()

In [ ]:
df.drop(columns=['Year'], inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(columns=['Ozone','Day'])

In [ ]:
df

# Rename the columns

In [ ]:
df.head()

In [ ]:
df.rename(columns={'Solar.R':'Solar','Temp':'Temperature'},inplace=True)

In [ ]:
df

# Slicing/ Indexing in dataframe

In [ ]:
df

In [ ]:
#iloc 5 to 25 rows, from first 3 columns

In [ ]:
df.iloc[5:26,0:3]

In [ ]:
df.loc[5:25,'Ozone':'Wind']

# Missing value imputation

- In dataset, missing data, or missing values, occur when no data value is stored for the variable in an observation.
- Missing data are a common occurrence and can have a significant effect on the conclusions that can be drawn from the data.
- If we don't impute or handle null values, we will not be able to create a machine learning model as python does not understand missing values.
- Handling missing values is a crucial step in EDA.
- Missing values can appear for several reasons like:
    - Incomplete data entry
    - Issues with machines
    - Improper handling of data
    - And many more.

In [ ]:
#Checking null values

In [ ]:
df.head()

In [ ]:
df.isna() #.isnull()

In [ ]:
df.isna().sum()

In [ ]:
len(df)

In [ ]:
for i in df.isna().sum():
    print(i)

In [ ]:
#Calculate the percentage of missig values in each column.
for i in df.isna().sum():
    print((i/157)*100,'%')

# Rule for missing value imputation:
1. If NA values are between 1 to 5%, drop na (rows)
2. If NA value are 5 to 40%, fillna(replace)
3. If NA values are greater than 50% in a column, drop that entire column.

In [ ]:
df.head()

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = 300

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
df.boxplot(column='Solar')

In [ ]:
df['Ozone'].median()

In [ ]:
ozone_median = df['Ozone'].median()
ozone_median

In [ ]:
df['Ozone'].fillna(ozone_median, inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df['Solar'].mean()

In [ ]:
df['Solar'].fillna(df['Solar'].mean(), inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df['Weather'].value_counts()

In [ ]:
df['Weather'].mode()

In [ ]:
df['Weather'].mode()[0]

In [ ]:
df['Weather'].fillna(df['Weather'].mode())

In [ ]:
df.isna().sum()

In [ ]:
df['Weather'].fillna(df['Weather'].mode()[0], inplace=True)

In [ ]:
df.isna().sum()

# Outlier detection

- There are multiple approaches to detect outliers in the dataset.
    - Histogram
    - Boxplot
    - Descriptive stats for df

In [ ]:
df.describe()

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
df.boxplot()

In [ ]:
sns.boxplot(x = df['Wind'])

In [ ]:
#Outlier detection function

In [ ]:
df['Ozone'].quantile(0.75)

In [ ]:
df.columns

In [ ]:
for i in df.columns:
    print(i)

In [ ]:
def outlier(data, col):
    q1 = data[col].quantile(0.25)
    q3 = data[col].quantile(0.75)
    iqr = q3-q1
    
    lower = q1-(1.5*iqr)
    upper = q3+(1.5*iqr)
    return lower, upper

In [ ]:
outlier(df,'Ozone')

In [ ]:
df['Ozone'].head(50)

In [ ]:
np.where(df['Ozone'] > 81.0,81.0,0)

In [ ]:
def outlier_detection(data, columns):
    
    for col in columns:
        q1 = data[col].quantile(0.25)
        q3 = data[col].quantile(0.75)
        iqr = q3-q1
    
        lower = q1-(1.5*iqr)
        upper = q3+(1.5*iqr)
        
        df[col] = np.where(df[col] > upper, upper, np.where(df[col] < lower, lower,df[col]))

In [ ]:
df.columns

In [ ]:
df.drop(columns=['Weather']).columns

In [ ]:
outlier_detection(df,df.drop(columns=['Weather']).columns)

In [ ]:
df.boxplot()

In [ ]:
df.shape

# Scatter Plot and Correlation

In [ ]:
df.head()

In [ ]:
sns.scatterplot(x = df['Ozone'], y = df['Solar'])

In [ ]:
sns.scatterplot(x = df['Ozone'],y = df['Temperature'])

In [ ]:
sns.scatterplot(x = df['Ozone'],y = df['Temperature'], hue = df['Weather'])

In [ ]:
sns.pairplot(df)

In [ ]:
#Correlation coefficient

In [ ]:
df.corr()

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sns.heatmap(df.corr(),annot=True,cmap='twilight')

# Transformations

- Machines do not understand words and sentences.
- Machines only understand numbers.
- Before model building, we have convert all the categorical columns into numerical.

In [ ]:
df.head()

In [ ]:
#Encoding using pandas dummy function.

In [ ]:
pd.get_dummies(data=df, columns= ['Weather'])

In [ ]:
df

In [ ]:
df = pd.get_dummies(data=df,columns= ['Weather'])

In [ ]:
df

# **Scaling the data**

- Normalization
    - Scales value within the range of 0 to 1.
- Standardization
    - Uses Z score for scaling.
    - Scale values in such a way that the mean = 0 and standard deviation is 1.

In [ ]:
lst = []

In [ ]:
lst.append(50)

In [ ]:
lst

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [ ]:
#Standardization
sc = StandardScaler()

In [ ]:
df.head(2)

In [ ]:
sc.fit_transform(df)

In [ ]:
x = sc.fit_transform(df)
x

In [ ]:
pd.DataFrame(x, columns=df.columns)

In [ ]:
df.columns

In [ ]:
scaled_data = pd.DataFrame(x, columns=df.columns)
scaled_data

In [ ]:
scaled_data.describe()

In [ ]:
#MinMaxScalar

In [ ]:
mn = MinMaxScaler()

In [ ]:
df.columns

In [ ]:
df

In [ ]:
minmax_scaled = pd.DataFrame(mn.fit_transform(df), columns=df.columns)
minmax_scaled

In [ ]:
minmax_scaled.describe()