# Anova Test

In [1]:
#Import scipy.stats
from scipy import stats
import pandas as pd

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Iris.csv',index_col=0)

df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
df.iloc[0,0]

5.1

In [9]:
df.iloc[3,2]

1.5

In [10]:
df.iloc[:,0]

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [13]:
df['Species']

Id
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
            ...
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
150    Iris-virginica
Name: Species, Length: 150, dtype: object

In [14]:
df['SepalLengthCm']

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [15]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
f ,p = stats.f_oneway(df['SepalWidthCm'],df['SepalLengthCm'],df['PetalLengthCm'],
                       df['PetalWidthCm'])

In [17]:
p

3.4996987081933735e-159

In [18]:
if p < 0.05:
    print('Reject Null Hypothesis. At least one sample is different.')
else:
    print('Fail to reject Null Hypothesis.')

Reject Null Hypothesis. At least one sample is different.

# Chi-Square test

In [2]:
import scipy.stats as st

In [ ]:
st.chi2_contingency

In [3]:
from scipy.stats import chi2_contingency

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/chi2.csv', index_col=0)
df

   Athlete Smoker
0        Y    yes
1        Y    yes
2        Y     no
3        Y     no
4        Y    yes
5        Y     no
6        Y    yes
7        Y     no
8        Y     no
9        Y     no
10       Y     no
11       Y     no
12       Y     no
13       Y     no
14       Y     no
15       Y     no
16       Y     no
17       Y     no
18       N    yes
19       N    yes
20       N    yes
21       N    yes
22       N    yes
23       N    yes
24       N    yes
25       N    yes
26       N    yes
27       N    yes

In [6]:
df['Athlete']

0     Y
1     Y
2     Y
3     Y
4     Y
5     Y
6     Y
7     Y
8     Y
9     Y
10    Y
11    Y
12    Y
13    Y
14    Y
15    Y
16    Y
17    Y
18    N
19    N
20    N
21    N
22    N
23    N
24    N
25    N
26    N
27    N
Name: Athlete, dtype: object

In [7]:
pd.crosstab(index=df['Athlete'],columns=df['Smoker'])

Smoker   no  yes
Athlete
N         0   10
Y        14    4

In [8]:
obs = pd.crosstab(index=df['Athlete'],columns=df['Smoker'])
obs

Smoker   no  yes
Athlete
N         0   10
Y        14    4

In [9]:
chi2_contingency(obs)

Chi2ContingencyResult(statistic=12.6, pvalue=0.00038574675568200776, dof=1, expected_freq=array([[5., 5.],
       [9., 9.]]))

In [10]:
chi2,p,df,exp  = chi2_contingency(obs)

In [11]:
chi2, df

(12.6, 1)

In [12]:
exp

array([[5., 5.],
       [9., 9.]])

In [13]:
p

0.00038574675568200776

In [14]:
if p < 0.05:
    print('Reject Null Hypothesis.Columns are dependent on each other.')
else:
    print('Fail to reject null hypothesis.')

Reject Null Hypothesis.Columns are dependent on each other.

In [16]:
1 - stats.chi2.cdf(12.6,1)

0.0003857467556820371